@font-face {
    font-family: "MPLUS";
    src: url(../Fonts/MPLUS1p-Medium.ttf);
}
@font-face {
    font-family: PTSerif;
    src: url(../Fonts/PTSerif-BoldItalic.ttf);
}
body{
    font-family: MPLUS;
    background-color: #040404;
}
.middle{
    margin-top: 4rem;
}